# This is for PC Tool, transfer-hw-to-cert

name: Test transfer-hw-to-cert Tool

on:
  push:
    paths: ['Tools/PC/transfer-hw-to-cert/**']
  pull_request:
    paths: ['Tools/PC/transfer-hw-to-cert/**']

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04]
        python-version: ["3.10", "3.12"]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Test with unittest
      run: |
        python -m unittest -v
      working-directory: ./Tools/PC/transfer-hw-to-cert
